{% extends 'frontend.html.twig' %}

{% block title %}About todo-app!{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
{{ parent() }}
<div class="content">
    <div class="jumbotron">
      <h1>Who are we?</h1>
      <p class="lead">A developer learning... </p>
    </div>
</div>
{% endblock %}
