{% extends 'frontend.html.twig' %}

{% block title %}Profile at todo-app!{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
{{ parent() }}
<div class="content">
      <div class="jumbotron">
        <h1>Who are we?</h1>
        <p class="lead">A developer learning... </p>
         <a href='/'>Home</a><br>
            <a href='profile'>Profile</a><br>
            <a href='login'>Login</a><br>
            <a href='logout'>Logout</a><br>
      </div>
    </div>
{% endblock %}
