{% extends 'frontend.html.twig' %}

{% block title %}Enjoy our todo-app!{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
{{ parent() }}
<div class="content">
      <div class="jumbotron">
        <h1>{% trans %}Enjoy our todo-app!{% endtrans %}</h1>
        <p class="lead">{% trans %}A simple todo-app done with Symfony4 (Doctrine ORM, Twig Templates...) and a little of VueJS for learning purposes{% endtrans %}.</p>
      </div>
</div>
{% endblock %}
